.cast {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.card {
  width: 100px;
  margin-right: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}
.nameStyle {
  font-weight: bold;
}
