.reviewStyle {
  background-color: #e5e5e5;
  padding: 10px;
  margin-bottom: 15px;
  border-left: 1px solid black;
}
.authorStyle {
  font-weight: bold;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.noReviews {
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
}
